@import "vars";

.feedback__swiper {
  width: 40vw;
}

.feedback__top {
  display: flex;
  align-items: center;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 2rem;
}

.feedback__bottom {
  display: flex;
  align-self: end;
  margin-right: 20vw;
}

.feedback__swiper-button-prev img,
.feedback__swiper-button-next img {
  width: 13px;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: $dark-blue-background;
}

.feedback__slide {
  background-color: $dark-blue-background;
  color: #fff;
  padding: 2.3rem 1.7rem;
  border-radius: 1rem;
  cursor: pointer;

  .feedback__slide_text-content {
    margin-bottom: 3rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
  }

  .feedback__slide_footer {
    display: flex;
    align-items: center;
    gap: 1.7rem;
    img {
      border-radius: 50%;
    }

    .feedback__slide_name {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;

      .feedback__slide_shop-name{
        color: #fff;
        opacity: .6;
      }
    }
  }
}

.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background-color: #eeeeee;
  opacity: 1;
}

.feedback__subtitle{
  font-size: 18px;
  color: #929292;
  width: 60%;
  margin-bottom: 2rem;
}

.feedback__buttons{
  display: flex;
  gap: 1rem;
}

.feedback__swiper-button-prev, .feedback__swiper-button-next{
  border: 1px solid $dark-blue-background;
  padding: 10px 16px;
  border-radius: 50%;
  cursor: pointer;
  transition: .5s;
}

.feedback__swiper-button-prev{
  padding-left: 14px;
}

.feedback__swiper-button-next{
  padding-right: 14px;
  padding-bottom: 0px;
  background-color: $dark-blue-background;
}