@import "vars";

.feedback__swiper {
  width: 50%;
}

.feedback {
  display: flex;
  align-items: center;
  position: relative;
}

.feedback__swiper-button-prev img,
.feedback__swiper-button-next img {
  width: 13px;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: $dark-blue-background;
}

.feedback__slide {
  background-color: $dark-blue-background;
  color: #fff;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background-color: #9d9d9d;
  opacity: 0.6;
}

.feedback__swiper-pagination {
  position: absolute;
  left: 20%;
  bottom: 0;
}
