@import "vars";

.first-section__content {
  display: flex;
}

.first-section__text-content {
  width: 60%;
}

.first-section__info {
  width: 40%;
}

.first-section__photo {
  position: relative;
  margin-bottom: 2rem;
}

#bg-first-section {
  position: absolute;
  z-index: -100;
  bottom: 0;
  left: -5%;
}

.first-section__item {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 1px 0px 10px #33333352;
  position: absolute;
}

.first-section__item:first-child {
  top: 24%;
  right: 20%;

  a {
    color: $red-background;
  }
}

.first-section__item:nth-child(2) {
  top: 55%;
  left: -8%;

  h3 {
    margin: 1rem 2rem;
    margin-left: 0;
  }
}

.first-section__item:nth-child(3) {
  right: 30%;
  bottom: 0%;
}

.first-section__info_link {
  margin-left: 10%;
  margin-top: 2rem;
  padding: 1rem;
  background-color: $dark-blue-background;
  color: #fff;
  border-radius: 8px;
}

.first-section__header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;

  h1 {
    font-weight: 600;
  }
}

.first-section__text-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.first-section__title {
  font-size: 40px;
}

.first-section__subtitle {
  font-size: 18px;
}

.first-section__form {
  button {
    display: flex;
    gap: 1.5rem;
  }
}
.form__inputs {
  display: flex;
  gap: 1rem;
  align-items: center;

  input {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 6px;
  }
}

.form__inputs {
  margin-bottom: 1rem;
}
