.work-with-us__list{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 2rem;
}

.work-with-us__item{
    box-shadow: 4px 4px 5px #5f5f5f21;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    border-radius: 15px;
    
    p{
        font-weight: 400;
        font-size: 18px;
    }
}

.work-with-us__title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 1rem;
}