@import url("_vars.scss");
header {
  background-color: #E65418;
  display: flex;
  justify-content: space-between;
  padding: 1rem 7rem;
  align-items: center;
}
header .header__nav ul {
  display: flex;
  gap: 5rem;
}
header .header__nav ul a {
  color: #fff;
  font-weight: 400;
}
header .header__links {
  display: flex;
  gap: 2rem;
}
header .header__links ul {
  display: flex;
  gap: 1rem;
  padding-right: 2rem;
  position: relative;
}
header .header__links ul:after {
  content: "";
  display: block;
  background-color: #fff;
  height: 240%;
  width: 1px;
  position: absolute;
  top: -70%;
  right: 0;
}

.header__phone {
  color: #fff;
}

.first-section__content {
  display: flex;
}

.first-section__text-content {
  width: 60%;
}

.first-section__info {
  width: 40%;
}

.first-section__photo {
  position: relative;
  margin-bottom: 2rem;
}

#bg-first-section {
  position: absolute;
  z-index: -100;
  bottom: 0;
  left: -5%;
}

.first-section__item {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 1px 0px 10px rgba(51, 51, 51, 0.3215686275);
  position: absolute;
}

.first-section__item:first-child {
  top: 24%;
  right: 20%;
}
.first-section__item:first-child a {
  color: #E65418;
}

.first-section__item:nth-child(2) {
  top: 55%;
  left: -8%;
}
.first-section__item:nth-child(2) h3 {
  margin: 1rem 2rem;
  margin-left: 0;
}

.first-section__item:nth-child(3) {
  right: 30%;
  bottom: 0%;
}

.first-section__info_link {
  margin-left: 10%;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #1D2E47;
  color: #fff;
  border-radius: 8px;
}

.first-section__header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}
.first-section__header h1 {
  font-weight: 600;
}

.first-section__text-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.first-section__title {
  font-size: 40px;
}

.first-section__subtitle {
  font-size: 18px;
}

.first-section__form button {
  display: flex;
  gap: 1.5rem;
}

.form__inputs {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.form__inputs input {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 6px;
}

.form__inputs {
  margin-bottom: 1rem;
}

.work-with-us__list {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  gap: 2rem;
}

.work-with-us__item {
  box-shadow: 4px 4px 5px rgba(95, 95, 95, 0.1294117647);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  border-radius: 15px;
}
.work-with-us__item p {
  font-weight: 400;
  font-size: 18px;
}

.work-with-us__title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 1rem;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.swiper-button-prev img,
.swiper-button-next img {
  width: 10px;
}

.swiper-button-next img {
  transform: rotate(180deg);
}

.cases .swiper {
  position: relative;
}

.cases .swiper-wrapper {
  width: 10%;
}

.cases {
  position: relative;
}

.cases .swiper-slide {
  background-image: url("../assets/images/cases-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.4rem;
}
.cases .swiper-slide h3 {
  font-size: 24px;
  color: #fff;
}
.cases .swiper-slide div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cases .swiper-slide img,
.cases .swiper-slide span {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 20px;
}
.cases .swiper-slide span {
  padding: 0.8rem 1.2rem;
}

.cases .swiper-button-prev,
.cases .swiper-button-next {
  position: absolute;
  top: 60%;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #1D2E47;
}

.cases .swiper-button-prev {
  left: 2%;
}

.cases .swiper-button-next {
  right: 2%;
}

.cases__title {
  margin-bottom: 3rem;
}

.trust__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.trust__item {
  width: 20%;
  box-shadow: 1px 1px 6px rgba(51, 51, 51, 0.1176470588);
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trust__title {
  text-align: center;
}

.price__list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.price__title {
  text-align: center;
}

.price__item {
  border: 1px solid #DEE3EB;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
  border-radius: 30px;
  width: 340px;
  transition: 0.5s;
  cursor: pointer;
}
.price__item .price__item_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.price__item .price__item_list .price__item_service {
  display: flex;
  gap: 0.5rem;
  position: relative;
}
.price__item .price__item_list .price__item_service img {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.price__item .price__item_list .price__item_service p {
  margin-left: 2rem;
}

.price__item_title {
  font-size: 22px;
}

.price__item_number {
  font-size: 34px;
}

.price__item_subtitle {
  font-size: 18px;
}

.price__item_button {
  font-size: 18px;
  border: 1px solid #1D2E47;
  color: #1D2E47;
  padding: 1rem;
  border-radius: 16px;
  background-color: #fff;
}

.price__item--white-icon {
  opacity: 0;
}

.price__item:hover {
  background-color: #1D2E47;
}
.price__item:hover .price__item_title, .price__item:hover .price__item_number, .price__item:hover .price__item_subtitle, .price__item:hover .price__item_get, .price__item:hover .price__item_list {
  color: #fff;
}

.niches__title {
  text-align: center;
}

.niches__list {
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(4, 1fr);
  gap: 2rem;
  width: 80%;
}

.niches__item {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.niches {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.subscribe {
  display: flex;
  align-items: center;
  background-color: #1e1f1c;
  color: #fff;
}

.subscribe__images {
  margin-bottom: -45px;
  position: relative;
}

.subscribe__bg-image {
  position: absolute;
  bottom: 0;
  left: 12%;
}

.subscribe__icon {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  width: 60px;
  position: absolute;
}

.subscribe__icon:nth-child(3) {
  top: 20%;
  right: 35%;
}

.subscribe__icon:nth-child(4) {
  top: 40%;
  left: 35%;
}

.subscribe__icon:nth-child(5) {
  bottom: 25%;
  right: 25%;
}

.subscribe__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.subscribe__list li {
  display: flex;
  gap: 1rem;
}

.subscribe__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.subscribe__title {
  margin-bottom: 0 !important;
}

.subscribe__link {
  background-color: #fff;
  color: #1D2E47;
  align-self: start;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.feedback__swiper {
  width: 40vw;
}

.feedback__top {
  display: flex;
  align-items: center;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 2rem;
}

.feedback__bottom {
  display: flex;
  align-self: end;
  margin-right: 20vw;
}

.feedback__swiper-button-prev img,
.feedback__swiper-button-next img {
  width: 13px;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #1D2E47;
}

.feedback__slide {
  background-color: #1D2E47;
  color: #fff;
  padding: 2.3rem 1.7rem;
  border-radius: 1rem;
  cursor: pointer;
}
.feedback__slide .feedback__slide_text-content {
  margin-bottom: 3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}
.feedback__slide .feedback__slide_footer {
  display: flex;
  align-items: center;
  gap: 1.7rem;
}
.feedback__slide .feedback__slide_footer img {
  border-radius: 50%;
}
.feedback__slide .feedback__slide_footer .feedback__slide_name {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.feedback__slide .feedback__slide_footer .feedback__slide_name .feedback__slide_shop-name {
  color: #fff;
  opacity: 0.6;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background-color: #eeeeee;
  opacity: 1;
}

.feedback__subtitle {
  font-size: 18px;
  color: #929292;
  width: 60%;
  margin-bottom: 2rem;
}

.feedback__buttons {
  display: flex;
  gap: 1rem;
}

.feedback__swiper-button-prev, .feedback__swiper-button-next {
  border: 1px solid #1D2E47;
  padding: 10px 16px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.feedback__swiper-button-prev {
  padding-left: 14px;
}

.feedback__swiper-button-next {
  padding-right: 14px;
  padding-bottom: 0px;
  background-color: #1D2E47;
}

.team-slide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.team-slide .team-slide__image {
  align-self: start;
  width: 80%;
}
.team-slide .team-slide__subtitle {
  color: #929292;
}
.team-slide .team-slide__title {
  font-size: 18px;
}

.team__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.team__header .team__header_navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.team__header .team__header_navigation p {
  color: #929292;
}
.team__header .team__header_navigation .team__buttons {
  display: flex;
  gap: 0.5rem;
}
.team__header .team__header_navigation .team__buttons .team-button-next {
  background-color: #1D2E47;
}

.team-button-prev, .team-button-next {
  padding: 1rem 1.4rem;
  border-radius: 50%;
  border: 1px solid #1D2E47;
  padding-bottom: 0.9rem;
  cursor: pointer;
}
.team-button-prev img, .team-button-next img {
  width: 9px;
}

.team__subtitle {
  color: #929292;
}

.team__title {
  margin-bottom: 1.5rem !important;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videos__list {
  display: flex;
  gap: 3.5rem;
}
.videos__list img {
  border-radius: 15px;
}

.calculation {
  padding: 1vh 7vw;
  padding-right: 0.5rem !important;
  display: flex;
  justify-content: space-between;
  background-color: #1e1f1c;
  color: #fff;
  align-items: center;
}

.calculation__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 10vw;
}

.calculation__subtitle {
  font-size: 1.2rem;
}

.calculation__image {
  width: 40%;
  border-radius: 2rem;
}

.calculation__form input::-moz-placeholder {
  color: #E65418;
}

.calculation__form input::placeholder,
.calculation__form input {
  color: #E65418;
}

.calculation__form input {
  border-bottom: 2px solid #E65418;
  border-radius: 0;
  background-color: transparent;
  width: 100%;
  padding-left: 0;
}
.calculation__form button {
  background-color: #fff;
  color: #1D2E47;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  width: 60%;
  padding-left: 2rem;
}

.calculation__title.title {
  margin-bottom: 0;
}

.form__inputs {
  gap: 2rem;
}

.accordion__item {
  border-top: 2px solid #000;
  padding: 2vh 0.5vw;
  cursor: pointer;
}

.accordion__item:last-child {
  border-bottom: 2px solid #000;
}

.accordion__content {
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s ease;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion__header .accordion__title {
  font-size: 1.2rem;
}

.accordion__arrow-btn {
  position: relative;
  width: 30px;
  height: 30px;
}

.accordion__arrow-btn_line {
  background-color: #000;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accordion__arrow-btn_line:first-child {
  height: 20px;
  width: 2px;
  transition: 0.5s;
}

.accordion__arrow-btn_line:last-child {
  width: 20px;
  height: 2px;
}

.accordion__arrow-btn--active .accordion__arrow-btn_line:first-child {
  top: 14.5%;
  transform: rotate(-90deg);
}

.questions {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.questions .questions__title.title {
  margin-bottom: 0;
}
.questions .questions__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
}

.questions__accordion {
  width: 50%;
}

.questions__text {
  color: #929292;
  font-size: 1.1rem;
}

.questions__buttons {
  display: flex;
  gap: 1.5rem;
}
.questions__buttons .questions__button {
  background-color: #1D2E47;
  color: #fff;
  padding: 2vh 2vw;
  border-radius: 1rem;
  border: 2px solid #1D2E47;
  transition: 0.5s;
}
.questions__buttons .questions__button:hover {
  background-color: #fff;
  color: #1D2E47;
}

footer {
  background-color: #1e1f1c;
  color: #fff;
}
footer a {
  color: #fff;
}
footer .footer__top {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 9vh 7vw;
}
footer .footer__top .footer__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}
footer .footer__top .footer__info .footer__social-links {
  display: flex;
  gap: 1rem;
}

.footer__nav ul {
  display: grid;
  grid-template: 1fr/repeat(2, 1fr);
  gap: 1rem 10rem;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.footer__contacts li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer__bottom {
  text-align: center;
  padding: 4vh 0;
  border-top: 1px solid #505050;
  font-size: 0.8rem;
}

@font-face {
  font-family: "HelioSext";
  src: url("../assets/fonts/heliosext.woff") format("woff");
}
* {
  font-family: "HelioSext", sans-serif;
}

section {
  padding: 5vh 7vw;
}

.button {
  background-color: #1D2E47;
  padding: 1rem;
  padding-bottom: 0.8rem;
  border-radius: 8px;
  color: #fff;
}

.title {
  font-size: 40px;
  margin-bottom: 3rem;
}/*# sourceMappingURL=style.css.map */